/**
 * default development theme for jQRangeSlider
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.placeholder {
	height: 100px;
	width: 100%;
}

/*Whole Slider*/
.ui-rangeSlider {
	height: 22px;
	width: 100%; !important
}

.ui-rangeSlider-container {
	height: 22px;
}

/*inner Bar*/
.ui-rangeSlider .ui-rangeSlider-innerBar {
	height: 16px;
	margin: 3px 6px;
	background: #7f7f7f;
}
/*Both Handles */
.ui-rangeSlider .ui-rangeSlider-handle {
	width: 6px;
	height: 22px;
	/*background:#91F016;*/
	/*background:rgba(100,100,100, 0.3);*/
	cursor: col-resize;
	position: relative;
	display: block;
}

.ui-rangeSlider .ui-rangeSlider-handle:after {
	bottom: 3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-color: rgba(145,240,22,0);
	border-top-color: #91F016;
	border-width: 18px;
	margin: 0 -15px 5px -15px;
}

/*Bar between the Handles */
.ui-rangeSlider .ui-rangeSlider-bar {
	margin: 1px 0;
	/*background:#91F016;*/
	background: rgba(145,240,22,0.7);
	height: 20px;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
}
/*Dragging effects */
.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging {
	cursor: -moz-grabbing;
	cursor: grabbing;
}




/*Labels*/
.ui-rangeSlider-label {

	margin: 0 2px 2px -5px;
	white-space: nowrap;
	bottom: 35px;
	padding: 3px 6px 3px;
	cursor: col-resize;
	color: #7F7F7F;
	font-size: 0.8em;!important
}

.ui-rangeSlider-label-inner {
	display: none;
}

/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue {
	width: 1em;
	vertical-align: middle;
	text-align: center;
}
