/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
	font-family: 'PT Sans', sans-serif;
    font-size: 1em;  /*16px*/
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {background-color:#e9e9e9;}

.page-wrapper{
	width: 100%;
}
.content-wrapper{
	box-sizing: border-box;
	max-width: 1280px;
	padding: 0 2.65625%; /*34px --> save 1px for teaser-tile margin */
}
h1 {
	font-size: 3em;
	font-weight: normal;
	text-transform: uppercase;
	color: #7f7f7f;
	margin: 25px 0 5px 0.078125%;
}
h3{
	font-size: 1.125em;
	font-weight: normal;
	margin:0;
	line-height: 1.2em;
}
h1, .filter-wrapper{
	margin-left: 0.078125%; /* 1px */
}
nav.nav-main{
	width: 100%;
	height: 100px;
	background-color: #000000;
	border-bottom: 5px solid #b4dc0a;
}
.filter-cat-wrapper, .filter-btn{
	float:left;
}
.filter-sort-wrapper{
	border-right: 1px solid #7F7F7F;
	float: left;
	margin: 0 3px 0 0 ;
}
.filter-cat-wrapper{
	margin: 0 0 0 15px;
}
.filter-btn{
	position:relative;
	margin: 0 12px 0 0;
}
.filter-icon{
	position:absolute;
	left:0;
	top: 50%;
	margin: -10px 0 0 0;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-repeat:no-repeat;
}
.filter-newest > .filter-icon{
	background-image: url('../img/icons/Icon_GLF_20130903.png');
}
.filter-rated > .filter-icon{
	background-image: url('../img/icons/Icon_Stern_20130903.png');
}
.filter-viewed > .filter-icon{
	background-image: url('../img/icons/Icon_Zeiger_20130903.png');
}
.filter-campus > .filter-icon{
	background-image: url('../img/icons/Icon_Hut_20130903.png');
}
.filter-studies > .filter-icon{
	background-image: url('../img/icons/Icon_Buch_20130903.png');
}
.filter-leisure > .filter-icon{
	background-image: url('../img/icons/Icon_Palme_20130903.png');
}
.filter-art > .filter-icon{
	background-image: url('../img/icons/Icon_Musik_20130903.png');
}
.filter-society > .filter-icon{
	background-image: url('../img/icons/Icon_Blatt_20130903.png');
}

.filter-text{
	font-size: 1em;
	color: #7f7f7f;
	margin: 0 0 0 22px;
	line-height: 20px;
	font-weight: bold;
}
.filter-text:hover{
	color: #980758;
}
.teaser-tile{
	width: 19.53125%;
	min-width: 200px;
	height: 250px;
	float: left;
	margin: 0 0.078125% 2px 0.078125%; /* 1px bottom, left and right */
	position: relative;
}


.wrapper-pack-one{

    width: 100%;
    

}

.wrapper-pack-two{

    width: 100%;
   
}
.wrapper-pack-all{

    width: 38.2%;
    float: left;
}

.wrapper-big{


width: 61.8%;
float: right;

}

.wrapper-big.teaser-tile{



}

/*
 * Color Overlay on Hover
 * 
 *//*.teaser-tile:before{
	background-color: none;
}
.teaser-tile:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(154,7,88, 0.5);
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}*/

/*
 * Fancy Box Shape
 */


/*
 * END Fancy Box Shape
 */
.teaser-tile-play-icon{
	position:absolute;
	top:50%;
	left:50%;
	width: 28%;
	height: 75px;
	margin: -14% 0 0 -14%;
	background-image: url('../img/icons/play_white_s.png');
	background-size: 100% 100%;
	background-repeat:no-repeat;
	opacity: 0.6;
}
.teaser-tile-text-layer{
	background-color: rgba(180,220,10,0.9);
	position:absolute;
	bottom:0;
	width: 79%;
	padding: 5px 5px 0 0;	
	-webkit-transition: padding 0.3s ease; 
	-moz-transition: padding 0.3s ease; 
	-o-transition: padding 0.3s ease; 
	transition: padding 0.3s ease; 
}
.teaser-tile:hover .teaser-tile-text-layer{
	padding: 10px 10px 0 0;
}
.teaser-tile:hover .teaser-tile-play-icon{
	opacity: 0.7;
}
.teaser-tile-headline{
	margin:0 0 0 7.59493670886076%;
}
.teaser-tile-subline{
	font-size: 0.5625em;
	color: #003b0e;
	margin:4px 0 4px 7.59493670886076%;
}


.content{
	margin: 20px 0 0 0 ;
}
#video-teaser-0001, #video-teaser-0018{
	background-image: url('../img/video_teaser/1.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0002, #video-teaser-0017{
	background-image: url('../img/video_teaser/2.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0003, #video-teaser-0016{
	background-image: url('../img/video_teaser/3.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0004, #video-teaser-0015{
	background-image: url('../img/video_teaser/4.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0005, #video-teaser-0014{
	background-image: url('../img/video_teaser/5.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0006, #video-teaser-0011{
	background-image: url('../img/video_teaser/6.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0007, #video-teaser-0012{
	background-image: url('../img/video_teaser/7.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0008, #video-teaser-0010{
	background-image: url('../img/video_teaser/8.jpg');
	background-size: cover;
	background-position: 50% 0;
}
#video-teaser-0009, #video-teaser-0013{
	background-image: url('../img/video_teaser/9.jpg');
	background-size: cover;
	background-position: 50% 0;
}

/* VideoPlayer
 */
.video-wrapper{
	width: 90%;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	.content-wrapper{
		padding: 0 2.5%;
	}
	.teaser-tile{
		min-width: 150px; 
		margin: 0 0.3289473684210526% 2px 0.3289473684210526%;
	}
	.teaser-tile-headline{
		font-size:0.75em;
	}
	
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
